*{font-family: 'Times New Roman', Times, serif}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

body {
    background-color: #FAFFC7;
    color: #f8a8b9
}
h1 {
    font-style: italic;
    font-weight: 750;
}

h2 {
    font-style: italic;
    font-weight: 500;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}